kbd {
	display: inline-block;
	box-shadow: inset 0 -1px 0 var(--border);
	border: 1px solid var(--border);
	border-radius: 0.25rem;
	background: var(--background-secondary);
	padding: 0.125rem 0.375rem;
	color: var(--color);
	font-size: 0.875em;
	line-height: 1.25;
	font-family: ui-monospace, monospace;
}
