[role="list"][aria-label*="timeline"] {
	position: relative;
	margin-left: 0.5rem;
	padding-left: 0;
	list-style: none;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background: var(--border);
		width: 2px;
		content: "";
	}

	> li {
		position: relative;
		padding-bottom: 1.5rem;
		padding-left: 1.5rem;

		&:last-child {
			padding-bottom: 0;
		}

		&::before {
			position: absolute;
			top: 0.25rem;
			left: -0.3125rem;
			border: 2px solid var(--border);
			border-radius: 50%;
			background: var(--background-secondary);
			width: 0.625rem;
			height: 0.625rem;
			content: "";
		}

		&[aria-current="step"]::before {
			border-color: var(--background-primary);
			background: var(--background-primary);
		}

		> time {
			display: block;
			margin-bottom: 0.25rem;
			color: var(--color-muted);
			font-size: 0.875rem;
		}
	}
}
